.block-filter {
  position: relative;

  &__button {
    padding: 0 clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
    display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		cursor: pointer;
  }

  &__header {
    display: flex;
		align-items: center;
  }

  &__type {
    padding-right: 2px;
		font-size: 16px;
		color: #858585;
  }

  &__icon {
    width: 10px;
		height: 7px;
		background: url("../img/icons/arrow-down.svg") center bottom no-repeat;
    transition: transform 0.2s;
    &._active {
			transform: rotate(180deg);
		}
  }

  &__value {
    color: $bg-color;
		font-weight: 600;
		font-size: 18px;
		text-transform: capitalize;
  }

  &__dropdown {
    position: absolute;
    z-index: 3;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #fff;
    border-radius: 5px;
    opacity: 0;
		visibility: hidden;
    pointer-events: none;
    transition: all 0.2s;
		box-shadow: 0 0 5px 1px #000;
    &._active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(5px);
		}
  }

  &__item {
    padding: 10px;
		transition: background-color 0.2s;
		text-transform: capitalize;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				background-color: #adadad;
			}
		}
  }
}