@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
	--bg-color: #121b25;
	--accent-color: #1aa090;
	--text-color: #d6d6d6;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: $bg-color;
  color: #fff;
  position: relative;
	color: #fff;
	&._lock {
		overflow: hidden;
	}
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  line-height: 1.26;
  text-transform: capitalize;
  color: #FFFFFF;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: $text-color;
}

.link {
	display: inline-block;
	margin-top: 45px;
	padding: 22px 42px;
	background-color: var(--accent-color);
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 24px;
	text-transform: capitalize;
	transition: background-color 0.2s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #15786c;
		}
	}
}